@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:active {
  color: inherit;
}

a:visited {
  color: inherit;
}

.a-active-color {
  color: rgb(255, 0, 106);
}

body {
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
  background: #333333;
  color: snow;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.movie-name-container {
  color: #beb1b1;
  font-size: 20px;
}

.main-header {
  padding: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.x-menu {
  display: inline;
  margin-left: 50px;
  font-family: "Kaushan Script", cursive;
  font-size: 35px;
}

#movie-select-button {
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.shadow-board {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}

#movie-board {
  background: #beb1b1;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: 80px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.movie-board-row {
  width: 90%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: scroll;
  height: 400px;
}

.close-button-row {
  width: 100%;
}
.close-button {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  color: red;
  outline: none;
  border: 2px solid rgb(255, 0, 0);
  margin: 10px;
  cursor: pointer;
}

.menu-movie {
  background: #333333;
  padding: 10px;
  margin: 10px;
  color: snow;
  width: 30%;
  height: 60px;
  outline: none;
  cursor: pointer;
}
.menu-movie:hover {
  color: rgb(255, 0, 106);
}

.active {
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.show {
  display: flex;
}

.alive-filter,
.dead-filter,
.all-heroes-filter,
.movie-filter {
  cursor: pointer;
}
.alive-filter:hover,
.dead-filter:hover,
.all-heroes-filter:hover,
.movie-filter:hover {
  color: rgb(255, 0, 106);
}

.super-red {
  color: rgb(255, 0, 106);
}
.heroes-blue {
  color: rgb(44, 143, 255);
}

.collection-wrapper {
  padding: 20px 0;
  border-top: 1px solid #dddddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hero-card {
  width: 250px;
  /* background: green; */
  margin-bottom: 10px;
  background: snow;
  color: #333333;
  box-shadow: 10px 7px 12px rgba(77, 103, 255, 0.200);
}

.hero-card-img {
  width: 250px;
}

#movie-select-button:hover {
  color: rgb(240, 97, 157);
  font-weight: 900;
}

.name-focus {
  font-style: italic;
  font-weight: bold;
}

.card-style {
  margin: 5px 5px;
}

.card-style-movie {
  font-weight: bolder;
}

.collection-card-content {
  margin: 5px;
}

/*! media */
@media (max-width: 800px) {
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav > * {
    width: 100%;
    text-align: center;
  }

  .main-header {
    width: 100%;
  }

  .x-menu {
    margin-left: 0px;
  }

  #movie-select-button {
    margin: 30px 0;
  }

  .collection-wrapper {
    justify-content: center;
  }

  .hero-card {
    margin: 35px;
  }

  .movie-name-container {
    text-align: center;
  }

  .menu-movie {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .container {
    align-items: center;
    justify-content: center;
  }

  .movie-name-container {
    margin: 0 30px;
  }

  .nav {
    margin: 0 30px;
    width: 95%;
    text-align: center;
  }

  .collection-wrapper {
    margin: 0 30px;
  }

  .hero-card {
  }
}
